@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MadeTommy-Medium";
    src: url("@/assets/fonts/MADE-Tommy-Soft-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "GothamRnd-Medium";
    src: url("@/assets/fonts/gothamrnd_medium.woff2") format("woff2");
}

@font-face {
    font-family: "Lonie-Light";
    src: url("@/assets/fonts/Lonie-Soft-Light.woff2") format("woff2");
}

@font-face {
    font-family: "Lonie-Regular";
    src: url("@/assets/fonts/Lonie-Soft-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Lonie-Bold";
    src: url("@/assets/fonts/Lonie-Soft-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Lunasima-Regular";
    src: url("@/assets/fonts/Lunasima-Regular.woff2") format("woff2");
}

.iphone-bg {
    background: url("/iphone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 1px;
}


::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 6px;
}
